In [1]:
!pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.11.2)
Requirement already satisfied: certifi>=2021.10.8 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.10.3)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.2)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import time
from selenium.common.exceptions import NoSuchElementException

In [ ]:
# Question1

In [185]:
driver = webdriver.Chrome()

In [186]:
# getting the website/url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [195]:
# empty lists
Ranks = []
Names = []
Artists = []
Date_uploads = []
View = []

In [196]:
# exxtracting data

ran = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in ran:
    Ranks.append(i.text)

nam = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in nam:
    Names.append(i.text)
    
    
artis = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artis:
    Artists.append(i.text)
    
date = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in date:
    Date_uploads.append(i.text)
    
vw = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in vw:
    View.append(i.text)

In [197]:
# checking the lengths

print(len(Ranks), len(Names), len(Artists), len(Date_uploads), len(View))

50 50 50 50 50

In [ ]:
# top 30 most viewed videos on Youtube

In [200]:
df6 = pd.DataFrame({'Rank':Ranks[0:30], 'Name':Names[0:30], 'Artist':Artists[0:30], 
                    'Views':Date_uploads[0:30], 'Dates':View[0:30]})
df6

,Rank,Name,Artist,Views,Dates
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.36,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.26,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.80,"October 8, 2016"
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,6.41,"May 2, 2018"
4,5.,"""Shape of You""[18]",Ed Sheeran,6.08,"January 30, 2017"
5,6.,"""See You Again""[21]",Wiz Khalifa,6.03,"April 6, 2015"
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,5.56,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,5.48,"March 6, 2014"
8,9.,"""Uptown Funk""[28]",Mark Ronson,5.03,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,4.97,"February 27, 2018"
10,11.,"""Gangnam Style""[30]",officialpsy,4.90,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,4.44,"April 5, 2018"
13,14.,"""Axel F""[37]",Crazy Frog,4.06,"June 16, 2009"
14,15.,"""Sugar""[38]",Maroon 5,3.93,"January 14, 2015"
15,16.,"""Counting Stars""[39]",OneRepublic,3.87,"May 31, 2013"
16,17.,"""Roar""[40]",Katy Perry,3.87,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.78,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.73,"June 4, 2010"
19,20.,"""Sorry""[43]",Justin Bieber,3.71,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.69,"June 14, 2018"
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,3.66,"October 7, 2014"
22,23.,"""Dark Horse""[46]",Katy Perry,3.59,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.55,"January 26, 2018"
24,25.,"""Perfect""[48]",Ed Sheeran,3.54,"November 9, 2017"
25,26.,"""Faded""[49]",Alan Walker,3.51,"December 3, 2015"
26,27.,"""Let Her Go""[50]",Passenger,3.51,"July 25, 2012"
27,28.,"""Girls Like You""[51]",Maroon 5,3.48,"May 31, 2018"
28,29.,"""Lean On""[52]",Major Lazer Official,3.46,"March 22, 2015"
29,30.,"""Bailando""[53]",Enrique Iglesias,3.45,"April 11, 2014"

In [ ]:
# historically most viewed videos on Youtube

In [201]:
df7 = pd.DataFrame({'Name':Ranks[30:50], 'Artist':Names[30:50], 'Views_acheived':Artists[30:50], 
                    'Date_published':Date_uploads[30:50], 'Date_acheived':View[30:50]})
df7

,Name,Artist,Views_acheived,Date_published,Date_acheived
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","June 17, 2016","November 2, 2020"
1,"""Despacito""[9]",Luis Fonsi,"2,993,700,000","January 12, 2017","August 4, 2017"
2,"""See You Again""[21]",Wiz Khalifa,"2,894,000,000","April 6, 2015","July 10, 2017"
3,"""Gangnam Style""⁂[30]",Psy,"803,700,000","July 15, 2012","November 24, 2012"
4,"""Baby""*[66]",Justin Bieber,"245,400,000","February 19, 2010","July 16, 2010"
5,"""Bad Romance""[70]",Lady Gaga,"178,400,000","November 24, 2009","April 14, 2010"
6,"""Charlie Bit My Finger""‡[74]",HDCYT,"128,900,000","May 22, 2007","October 25, 2009"
7,"""Evolution of Dance""[77]",Judson Laipply,"118,900,000","April 6, 2006","May 2, 2009"
8,"""Girlfriend""‡[79][80]",RCA Records,"92,600,000","February 27, 2007","July 17, 2008"
9,"""Evolution of Dance""[77]",Judson Laipply,"78,400,000","April 6, 2006","March 15, 2008"
10,"""Music Is My Hot Hot Sex""‡[85]",CLARUSBARTEL72,"76,600,000","April 9, 2007","March 1, 2008"
11,"""Evolution of Dance""*[77]",Judson Laipply,"10,600,000","April 6, 2006","May 19, 2006"
12,"""Pokémon Theme Music Video""‡[91]",Smosh,"4,300,000","November 28, 2005","March 12, 2006"
13,"""Myspace – The Movie""‡[96][97]",eggtea,"2,700,000","January 31, 2006","February 18, 2006"
14,"""Phony Photo Booth""‡[100]",mugenized,"3,400,000","December 1, 2005","January 21, 2006"
15,"""The Chronic of Narnia Rap""‡[102]",youtubedude,"2,300,000","December 18, 2005","January 9, 2006"
16,"""Cross Bar""‡[104]",joeB,"1,000,000","October 21, 2005","December 10, 2005"
17,"""Ronaldinho: Touch of Gold""‡*[106]",Nikesoccer,"255,000","October 21, 2005","October 31, 2005"
18,"""I/O Brush""‡*[109]",larfus,"247,000","October 5, 2005","October 29, 2005"
19,"""Me at the zoo""[112]",jawed,1,"April 23, 2005","April 23, 2005"

In [ ]:
# Question 2

In [153]:
from selenium.common.exceptions import TimeoutException

In [202]:
driver = webdriver.Chrome()

In [203]:
driver.get('http://www.bcci.tv/')

In [204]:
# page international
url_ = driver.find_element(By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
driver.get(url_.get_attribute('href'))

In [142]:
# page fixtures whithin international 
url0 = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div/ul/li[1]/a')
driver.get(url0.get_attribute('href'))

In [170]:
# empty list
Title = []
series = []
place = []
date = []
time = []

In [171]:
# extracting data

    tit = driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in tit:
        Title.append(i.text)
    


    ser = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
    for i in ser:
        series.append(i.text)
    

    
    pla = driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
    for i in pla:
        place.append(i.text)
    

       
    dat = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
    for i in dat:
        date.append(i.text)
    

  
    tm = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
    for i in tm:
        time.append(i.text)

In [172]:
#checking lengths

print(len(Title), len(series), len(place), len(date), len(time))

8 8 8 8 8

In [ ]:
# fixtures on the first page

In [173]:
df0 = pd.DataFrame({'Title':Title, 'Series':series, 'Place':place, 'Date':date, 'Time':time})
df0

,Title,Series,Place,Date,Time
0,Round 1 -,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field,",21 SEP 2023,2:00 AM BST
1,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,9:00 AM BST
2,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",24 SEP 2023,9:00 AM BST
3,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",27 SEP 2023,9:00 AM BST
4,1st ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Barsapara Cricket Stadium,",30 SEP 2023,9:30 AM BST
5,1st T20I -,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field,",3 OCT 2023,2:00 AM BST
6,2nd ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Greenfield International Stadium,",3 OCT 2023,9:30 AM BST
7,1st ODI -,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium,",8 OCT 2023,9:30 AM BST

In [205]:
title_1 = []
serie_1 = []
Place_1 = []
Date_1 = []
Time_1 = []

In [206]:

    
    tit = driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in tit[0:20]:
        title_1.append(i.text)
    
    
    
    


    ser = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
    for i in ser[0:20]:
        serie_1.append(i.text)
    
    
    

    
    pla = driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
    for i in pla[0:20]:
        Place_1.append(i.text)
    
    
    
    
    

       
    dat = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
    for i in dat[0:20]:
        Date_1.append(i.text)
    
    
    
    
  
  
    tm = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
    for i in tm[0:20]:
        Time_1.append(i.text)

In [207]:
print(len(title_1), len(serie_1), len(Place_1), len(Date_1), len(Time_1))

8 8 8 8 8

In [208]:
df00 = pd.DataFrame({'Title':title_1[0:24], 'Series':serie_1, 'Place':Place_1, 'Date':Date_1, 'Time':Time_1})
df00

,Title,Series,Place,Date,Time
0,1st T20I -,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field,",21 SEP 2023,2:00 AM BST
1,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,9:00 AM BST
2,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",24 SEP 2023,9:00 AM BST
3,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",27 SEP 2023,9:00 AM BST
4,1st ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Barsapara Cricket Stadium,",30 SEP 2023,9:30 AM BST
5,1st T20I -,19TH ASIAN GAMES HANGZHOU 2022,"Pingfeng Cricket Field,",3 OCT 2023,2:00 AM BST
6,2nd ODI -,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Greenfield International Stadium,",3 OCT 2023,9:30 AM BST
7,1st ODI -,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium,",8 OCT 2023,9:30 AM BST

In [ ]:
# Question 3

In [209]:
driver = webdriver.Chrome()

In [210]:
driver.get('http://statisticstimes.com/')

In [211]:
url = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

In [63]:
url.get_attribute('href')

'https://www.statisticstimes.com/economy/india-statistics.php'

In [64]:
driver.get(url.get_attribute('href'))

In [65]:
url1 = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(url1.get_attribute('href'))

In [66]:
rank = []
state = []
GSDP_1 = []
GSDP_2 = []
share = []
GDP_billion_dollar = []

In [67]:
ran = driver.find_elements(By.XPATH, '//td[@class="data1"]')
for i in ran:
    rank.append(i.text)

nam = driver.find_elements(By.XPATH, '//td[@class="name"]')
for i in nam:
    state.append(i.text)
    
    
    
    try:
        ar = driver.find_elements(By.XPATH, '//td[@class="data sorting_1"]')
        for i in ar:
            GSDP_1.append(i.text)
            
    except NoSuchElementException:
        GSDP_1.append('_')
        
        
        
    try:
        da = driver.find_elements(By.XPATH, '//td[3][@class="data"]')
        for i in da:
            GSDP_2.append(i.text)
            
    except NoSuchElementException:
        GSDP_2.append('_')
        
        
        
    try:
        shar = driver.find_elements(By.XPATH, '//td[5][@class="data"]')
        for i in shar:
            share.append(i.text)
            
    except NoSuchElementException:
        share.append('_')
        
        
        
    try:
        gd = driver.find_elements(By.XPATH, '//td[6][@class="data"]')
        for i in gd:
            GDP_billion_dollar.append(i.text)
            
    except NoSuchElementException:
        GDP_billion_dollar.append('_')

In [69]:
print(len(rank), len(state), len(GSDP_1), len(GSDP_2), len(share), len(GDP_billion_dollar))

68 68 4488 4624 4624 4624

In [70]:
import pandas as pd

In [73]:
df = pd.DataFrame({'Rank':rank[0:33], 'State':state[0:33], 'GSDP(18-19)':GSDP_1[0:33], 'GSDP(19-20)':GSDP_2[0:33], 'Share':share[0:33], 'GDP($billion)':GDP_billion_dollar[0:33]})
df

,Rank,State,GSDP(18-19),GSDP(19-20),Share,GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [ ]:
# Question 4

In [74]:
driver = webdriver.Chrome()

In [75]:
driver.get('https://github.com/')

In [76]:
url2 = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')

driver.get(url2.get_attribute('href'))

In [77]:
title = []
description = []
count = []
language = []

In [81]:
    try:
        t = driver.find_elements(By.XPATH, '//a[@class="Link"]')
        for i in t:
            title.append(i.text)
            
    except NoSuchElementException:
        title.append('_')
        
        
        
    try:
        d = driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
        for i in d:
            description.append(i.text)
            
    except NoSuchElementException:
        description.append('_')
        
        
        
    try:
        c = driver.find_elements(By.XPATH, '//a[2][@class="Link Link--muted d-inline-block mr-3"]')
        for i in c:
            count.append(i.text)
            
    except NoSuchElementException:
        count.append('_')
        
    
    try:
        l = driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]')
        for i in l:
            language.append(i.text)
            
    except NoSuchElementException:
        language.append('_')

In [82]:
print(len(title), len(description), len(count), len(language))

50 50 50 42

In [84]:
df1 = pd.DataFrame({'Title':title[0:21], 'Description':description[0:21], 'Count':count[0:21], 'Language':language[0:21]})
df1

,Title,Description,Count,Language
0,coqui-ai /,🐸💬 - a deep learning toolkit for Text-to-Speec...,"2,083",Python
1,williamyang1991 /,Rerender A Video: Zero-Shot Text-Guided Video-...,23,Jupyter Notebook
2,aiwaves-cn /,An Open-source Framework for Autonomous Langua...,97,Python
3,nuejs /,Build user interfaces with cleaner code. Alter...,40,JavaScript
4,makeplane /,"🔥 🔥 🔥 Open Source JIRA, Linear and Height Alte...",625,TypeScript
5,usememos /,"A privacy-first, lightweight note-taking servi...","1,331",Go
6,NExT-GPT /,Code and models for NExT-GPT: Any-to-Any Multi...,38,Python
7,farhanashrafdev /,This repository contains a 90-day cybersecurit...,94,TypeScript
8,honghuangdc /,"A fresh and elegant admin template, based on V...","1,056",Go
9,meshery /,"Meshery, the cloud native manager","1,187",Python
10,swisskyrepo /,A list of useful payloads and bypass for Web A...,"13,183",HTML
11,WooooDyy /,"The paper list of the 86-page paper ""The Rise ...",54,Java
12,daveshap /,Public repo for my latest and greatest cogniti...,27,Python
13,ripienaar /,"A list of SaaS, PaaS and IaaS offerings that h...","8,062",Python
14,NationalSecurityAgency /,Ghidra is a software reverse engineering (SRE)...,"5,227",C
15,public-apis /,A collective list of free APIs,"29,219",Python
16,lllyasviel /,Let us control diffusion models!,"2,201",Java
17,grafana /,eBPF-based autoinstrumentation of HTTP and HTT...,16,Jupyter Notebook
18,sczhou /,[ICCV 2023] ProPainter: Improving Propagation ...,42,Rust
19,apache /,"Drools is a rule engine, DMN engine and comple...","2,452",TypeScript
20,Pierian-Data /,Course Files for Complete Python 3 Bootcamp Co...,"80,958",Go

In [ ]:
# Question 5

In [85]:
driver = webdriver.Chrome()

In [86]:
driver.get('https://www.billboard.com/')

In [87]:
url3 = driver.find_element(By.XPATH, '/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')

driver.get(url3.get_attribute('href'))

In [88]:
url4 = driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')

driver.get(url4.get_attribute('href'))

In [92]:
song_name = []
artist_name = []
last_week_rank =[]
peak_rank = []
weeks_on_board = []
rank_peak_weeks = []

In [93]:
    try:
        s = driver.find_elements(By.XPATH, '//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
        for i in s:
            song_name.append(i.text)
            
    except NoSuchElementException:
        song_name.append('_')
        
        
        
    try:
        a = driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
        for i in a:
            artist_name.append(i.text)
            
    except NoSuchElementException:
        artist_name.append('_')
        
    
    try:
        r = driver.find_elements(By.XPATH, '//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-row u-background-color-grey-lightest@mobile-max"]')
        for i in r:
            rank_peak_weeks.append(i.text)
            
    except NoSuchElementException:
        rank_peak_weeks.append('_')

In [95]:
print(len(song_name), len(artist_name), len(rank_peak_weeks))

99 99 100

In [96]:
df2 = pd.DataFrame({'song_name':song_name, 'artist_name':artist_name, 'LastWeekRang_PeakRank_WeeksOnBoard':rank_peak_weeks[1:100]})
df2

,song_name,artist_name,LastWeekRang_PeakRank_WeeksOnBoard
0,Paint The Town Red,Doja Cat,1\n1\n6
1,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,2\n1\n3
2,Fast Car,Luke Combs,3\n2\n25
3,Cruel Summer,Taylor Swift,4\n3\n19
4,Last Night,Morgan Wallen,5\n1\n33
...,...,...,...
94,Lagunas,Peso Pluma & Jasiel Nunez,-\n77\n9
95,Sittin' On Top Of The World,Burna Boy,86\n80\n3
96,Rubicon,Peso Pluma,95\n63\n11
97,TQM,Fuerza Regida,89\n34\n17
98,Amargura,Karol G,91\n85\n5

In [ ]:
# First ranking

In [97]:
song1 = driver.find_element(By.XPATH, '/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')

In [98]:
name1 = driver.find_element(By.XPATH, '/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')

In [99]:
rank_peak_weeks1 = driver.find_element(By.XPATH, '/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[7]/ul')

In [104]:
first_song = song1.text
first_song

'Vampire'

In [106]:
first_artist = name1.text
first_artist

'Olivia Rodrigo'

In [108]:
first_rank_peak_weeks1 = rank_peak_weeks1.text
first_rank_peak_weeks1

'9\n1\n11'

In [ ]:
# Question 6

In [111]:
driver = webdriver.Chrome()

In [112]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [115]:
book_name = []
author_name = []
volume_sold = []
publisher = []
genre = []

In [116]:
    try:
        b = driver.find_elements(By.XPATH, '//td[2][@class="left"]')
        for i in b:
            book_name.append(i.text)
            
    except NoSuchElementException:
        book_name.append('_')
        
        
        
    try:
        at = driver.find_elements(By.XPATH, '//td[3][@class="left"]')
        for i in at:
            author_name.append(i.text)
            
    except NoSuchElementException:
        author_name.append('_')
        
        
        
    try:
        v = driver.find_elements(By.XPATH, '//td[4][@class="left"]')
        for i in v:
            volume_sold.append(i.text)
            
    except NoSuchElementException:
        volume_sold.append('_')
        
    
    try:
        p = driver.find_elements(By.XPATH, '//td[5][@class="left"]')
        for i in p:
            publisher.append(i.text)
            
    except NoSuchElementException:
        publisher.append('_')
        
        
        
    try:
        g = driver.find_elements(By.XPATH, '//td[@class="last left"]')
        for i in g:
            genre.append(i.text)
            
    except NoSuchElementException:
        genre.append('_')

In [117]:
print(len(book_name), len(author_name), len(volume_sold), len(publisher), len(genre))

100 100 100 100 100

In [118]:
df3 = pd.DataFrame({'Book_name':book_name, 'Author_name':author_name, 'Volume_sold':volume_sold, 'Publisher':publisher, 'Genre':genre})
df3

,Book_name,Author_name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
# Question 7

In [119]:
driver = webdriver.Chrome()

In [120]:
driver.get('http://www.imdb.com/list/ls095964455/')

In [125]:
name = []
year_span = []
genre = []
run_time = []
ratings = []
votes = []

In [126]:
    try:
        n = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/h3/a')
        for i in n:
            name.append(i.text)
            
    except NoSuchElementException:
        name.append('_')
        
        
        
    try:
        y = driver.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')
        for i in y:
            year_span.append(i.text)
            
    except NoSuchElementException:
        year_span.append('_')
        
        
        
    try:
        r = driver.find_elements(By.XPATH, '//span[@class="runtime"]')
        for i in r:
            run_time.append(i.text)
            
    except NoSuchElementException:
        run_time.append('_')
        
    
    try:
        ra = driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]')
        for i in ra:
            ratings.append(i.text)
            
    except NoSuchElementException:
        ratings.append('_')
        
        
        
    try:
        vo = driver.find_elements(By.XPATH, '//span[@name="nv"]')
        for i in vo:
            votes.append(i.text)
            
    except NoSuchElementException:
        votes.append('_')
        
        
        
    try:
        g = driver.find_elements(By.XPATH, '//span[@class="genre"]')
        for i in g:
            genre.append(i.text)
            
    except NoSuchElementException:
        genre.append('_')

In [127]:
print(len(name), len(year_span), len(genre), len(run_time), len(ratings), len(votes))

100 100 100 100 100 100

In [128]:
df4 = pd.DataFrame({'Name':name, 'Year_span':year_span, 'Genre':genre, 'Run_time':run_time, 'Ratings':ratings, 'Votes':votes})
df4

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,204,844"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,276,267"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,046,147"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,457"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,539"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,743"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,805"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,095"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,914"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"266,137"

In [ ]:
# Question 8

In [129]:
driver = webdriver.Chrome()

In [130]:
driver.get('https://archive.ics.uci.edu/')

In [131]:
url5 = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[2]/ul/li[1]/a')

driver.get(url5.get_attribute('href'))

In [132]:
ML_url = []
start = 0
end = 2

for page in range(start, end):
    url = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        ML_url.append(i.get_attribute('href'))
    button = driver.find_element(By.XPATH, '//button[@aria-label="Next Page"]')
    button.click()
    time.sleep(2)

In [135]:
dataset_name =[]
datatype = []
task = []
attribute_type = []
N_instances = []
N_attribute = []
year = []

In [136]:
for url in ML_url:
    driver.get(url)
    time.sleep(2)
    
    try:
        d_n = driver.find_elements(By.XPATH, '//h1[@class="text-3xl font-semibold text-primary-content"]')
        for i in d_n:
            dataset_name.append(i.text)
            
    except NoSuchElementException:
        dataset_name.append('_')
        
    
    try:
        d_t = driver.find_elements(By.XPATH, '//div[1][@class="col-span-4"]')
        for i in d_t:
            datatype.append(i.text)
            
    except NoSuchElementException:
        datatype.append('_')
        
        
    try:
        t = driver.find_elements(By.XPATH, '//div[3][@class="col-span-4"]')
        for i in t:
            task.append(i.text)
            
    except NoSuchElementException:
        task.append('_')
        
        
    try:
        attr = driver.find_elements(By.XPATH, '//div[4][@class="col-span-4"]')
        for i in attr:
            attribute_type.append(i.text)
            
    except NoSuchElementException:
        attribute_type.append('_')
        
        
        
    try:
        NI = driver.find_elements(By.XPATH, '//div[5][@class="col-span-4"]')
        for i in NI:
            N_instances.append(i.text)
            
    except NoSuchElementException:
        N_instances.append('_')
        
    
    try:
        NA = driver.find_elements(By.XPATH, '//div[6][@class="col-span-4"]')
        for i in NA:
            N_attribute.append(i.text)
            
    except NoSuchElementException:
        N_attribute.append('_')
        
        
        
    try:
        ye = driver.find_elements(By.XPATH, '//h2[@class="text-sm text-primary-content"]')
        for i in ye:
            year.append(i.text)
            
    except NoSuchElementException:
        year.append('_')

In [137]:
print(len(dataset_name), len(datatype), len(task), len(attribute_type), len(N_instances), len(N_attribute), len(year))

20 20 20 20 20 20 19

In [138]:
df5 = pd.DataFrame({'dataset_name':dataset_name[0:19], 'datatype':datatype[0:19], 
                   'task':task[0:19], 'attribute_type':attribute_type[0:19], 'N_instances':N_instances[0:19], 'N_attribute':N_attribute[0:19], 'year':year})
df5

,dataset_name,datatype,task,attribute_type,N_instances,N_attribute,year
0,Iris,Dataset Characteristics\nTabular,Associated Tasks\nClassification,Feature Type\nReal,# Instances\n150,# Features\n4,Donated on 6/30/1988
1,Heart Disease,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,"Feature Type\nCategorical, Integer, Real",# Instances\n303,# Features\n13,Donated on 6/30/1988
2,Adult,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,"Feature Type\nCategorical, Integer",# Instances\n48842,# Features\n14,Donated on 4/30/1996
3,Dry Bean Dataset,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,"Feature Type\nInteger, Real",# Instances\n13611,# Features\n16,Donated on 9/13/2020
4,Diabetes,"Dataset Characteristics\nMultivariate, Time-Se...",Associated Tasks\n-,"Feature Type\nCategorical, Integer",# Instances\n-,# Features\n20,Donated on 6/30/1991
5,Wine,Dataset Characteristics\nTabular,Associated Tasks\nClassification,"Feature Type\nInteger, Real",# Instances\n178,# Features\n13,Donated on 10/31/1995
6,Breast Cancer Wisconsin (Diagnostic),Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,Feature Type\nReal,# Instances\n569,# Features\n30,Donated on 5/31/1997
7,Car Evaluation,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,Feature Type\nCategorical,# Instances\n1728,# Features\n6,Donated on 10/5/2019
8,Rice (Cammeo and Osmancik),Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,Feature Type\nReal,# Instances\n3810,# Features\n7,Donated on 4/26/1987
9,Mushroom,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,Feature Type\nCategorical,# Instances\n8124,# Features\n22,Donated on 11/30/1995
10,Abalone,Dataset Characteristics\nTabular,"Associated Tasks\nClassification, Regression","Feature Type\nCategorical, Integer, Real",# Instances\n4177,# Features\n8,Donated on 10/6/2009
11,Wine Quality,Dataset Characteristics\nMultivariate,"Associated Tasks\nClassification, Regression",Feature Type\nReal,# Instances\n4898,# Features\n11,Donated on 7/10/1988
12,Breast Cancer,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,Feature Type\nCategorical,# Instances\n286,# Features\n9,Donated on 2/13/2012
13,Bank Marketing,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,"Feature Type\nCategorical, Integer",# Instances\n45211,# Features\n16,Donated on 11/16/1994
14,Statlog (German Credit Data),Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,"Feature Type\nCategorical, Integer",# Instances\n1000,# Features\n20,Donated on 4/30/1996
15,Census Income,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,"Feature Type\nCategorical, Integer",# Instances\n48842,# Features\n14,Donated on 5/18/1987
16,Automobile,Dataset Characteristics\nMultivariate,Associated Tasks\nRegression,"Feature Type\nCategorical, Integer, Real",# Instances\n205,# Features\n25,Donated on 8/31/1987
17,Glass Identification,Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,Feature Type\nReal,# Instances\n214,# Features\n9,Donated on 7/14/1992
18,Breast Cancer Wisconsin (Original),Dataset Characteristics\nMultivariate,Associated Tasks\nClassification,Feature Type\nInteger,# Instances\n699,# Features\n9,Donated on 7/6/1993